@import url( 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap' );

input[type="text" i], input[type="email" i], input[type="password" i] {
  padding-block: 0px;
  padding-inline: 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

html, body, #root {
  padding: 0px;
  margin: 0px;
  height: 100dvh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-family: "Oswald";
}

:-webkit-autofill {
  transition: all 100000s ease-in-out 0s;
}



.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

*::-webkit-scrollbar { width: 2px; }
*::-webkit-scrollbar-thumb { background: #209cee; }


@keyframes fadein {
  from { bottom: 0; opacity: 0; }
  to { bottom: 30px; opacity: 1; }
}

@keyframes fadeout {
  from { bottom: 30px; opacity: 1; }
  to { bottom: 0; opacity: 0; }
}